body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-3d464d: #3d464d;
  --color-c3d4da: #c3d4da;
}

.ant-layout {
  min-height: 100vh;
  font-family: inherit;
}

.ant-menu {
  font-family: inherit;
}

.ant-btn > span {
  line-height: 1;
}

main {
  height: 80vh;
  overflow-y: scroll;
  background-color: transparent !important;
}

main::-webkit-scrollbar {
  width: 0px;
}

/* Custom input */
.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  background-color: transparent !important;
}

.form-control:focus {
  /* border-color: transparent !important; */
  box-shadow: none !important;
}

/* Rich text editor */

.wrapper-class {
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
}
.editor-class {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.rdw-dropdown-selectedtext {
  text-decoration: none;
  color: black;
}

.rdw-dropdown-selectedtext:hover {
  color: black;
}

/* Auth Page */

.login-page,
.forgot-password-page,
.reset-password-page {
  background-color: #f8f9fa; /* Màu cam nhạt */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  border-radius: 20px !important;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 40px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -15px;
}
/* Admin page */

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: #ffd333;
  border-radius: 6px;
}

.demo-logo-vertical h1 {
  font-size: 26px;
  font-weight: 700;
  color: #4d4b4b;
  margin-bottom: 0;
}
.demo-logo-vertical h2 {
  font-weight: 700;
  color: #4d4b4b;
}

.toolbar-user {
  height: 64px;
}

.toolbar-user button:hover {
  background-color: #ebedf0;
}

.toolbar-user button {
  border: none;
}

.toolbar-user .toolbar-user_avatar {
  font-size: 2rem;
  border-radius: max(0.125rem, 0.1em);
}

.toolbar-user .toolbar-user_avatar img {
  font-size: 2rem;
  border-radius: inherit;
  height: 40px;
  width: 40px;
}

.toolbar-user .toolbar-user_title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}

.toolbar-user .toolbar-user_subtitle {
  width: 200px;
  color: #6c757d;
  font-size: 0.8125rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toolbar_right .btn-notify {
  border: none;
  height: 40px;
  width: 40px;
  padding: 0;
  position: relative;
}

.toolbar_right .btn-notify:hover {
  background-color: #ebedf0;
}

.toolbar_right .btn-notify span {
  background: #ffd333;
  border-radius: 0.5rem;
  color: #3d464d;
  font-size: 10px;
  font-weight: 700;
  height: 1rem;
  width: 1rem;
  position: absolute;
  text-align: center;
  top: 0.2rem;
  right: 0.2rem;
}

/* Dashbord */

/* header user */
.dropdown-item:active {
  background-color: #e6e8eb;
  color: #212529;
}

/* header user end */

.chart-profit {
  width: 100%;
  height: 450px; /* Adjust this value as needed */
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-profit .chart-profit_wrapper {
  width: 100%;
  height: 350px;
}

.custom-tooltip {
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.custom-tooltip .label {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
